In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
## Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))
#     # Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
    # Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
    # Add the heatmap layer.
fig.add_layer(heat_layer)
    # Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,
 dissipating=False,max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind,
 dissipating=False,max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 70

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Esperance,-33.8667,121.9000,69.64,63,88,10.51,AU,2021-11-25 03:30:06
4,4,Iraquara,-12.2486,-41.6194,67.21,96,63,3.98,BR,2021-11-25 03:30:07
9,9,Bredasdorp,-34.5322,20.0403,56.28,76,16,13.67,ZA,2021-11-25 03:30:09
11,11,Bluff,-46.6000,168.3333,62.15,55,100,5.41,NZ,2021-11-25 03:30:10
14,14,Puerto Ayora,-0.7393,-90.3518,69.12,85,22,10.56,EC,2021-11-25 03:30:11
18,18,Chuy,-33.6971,-53.4616,59.77,83,4,8.19,UY,2021-11-25 03:30:12
19,19,Lagoa,39.0500,-27.9833,63.30,72,100,31.99,PT,2021-11-25 03:31:51
21,21,Ribeira Grande,38.5167,-28.7000,64.31,71,100,27.83,PT,2021-11-25 03:31:52
22,22,Port Elizabeth,-33.9180,25.5701,61.09,82,75,9.22,ZA,2021-11-25 03:31:53
38,38,Coquimbo,-29.9533,-71.3436,56.93,88,0,3.44,CL,2021-11-25 03:31:18

In [11]:
preferred_cities_df.count()

City_ID       147
City          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
Country       142
Date          147
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3        Esperance      AU     69.64 -33.8667  121.9000
4         Iraquara      BR     67.21 -12.2486  -41.6194
9       Bredasdorp      ZA     56.28 -34.5322   20.0403
11           Bluff      NZ     62.15 -46.6000  168.3333
14    Puerto Ayora      EC     69.12  -0.7393  -90.3518
18            Chuy      UY     59.77 -33.6971  -53.4616
19           Lagoa      PT     63.30  39.0500  -27.9833
21  Ribeira Grande      PT     64.31  38.5167  -28.7000
22  Port Elizabeth      ZA     61.09 -33.9180   25.5701
38        Coquimbo      CL     56.93 -29.9533  -71.3436

In [13]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Esperance,AU,69.64,-33.8667,121.9000,Hospitality Esperance
4,Iraquara,BR,67.21,-12.2486,-41.6194,Pousada E Restaurante MKE
9,Bredasdorp,ZA,56.28,-34.5322,20.0403,Bredasdorp Country Manor
11,Bluff,NZ,62.15,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
14,Puerto Ayora,EC,69.12,-0.7393,-90.3518,Finch Bay Galapagos Hotel
18,Chuy,UY,59.77,-33.6971,-53.4616,Nuevo Hotel Plaza
19,Lagoa,PT,63.30,39.0500,-27.9833,Casa Das Faias
21,Ribeira Grande,PT,64.31,38.5167,-28.7000,Quinta da Meia Eira
22,Port Elizabeth,ZA,61.09,-33.9180,25.5701,39 On Nile Guest House
38,Coquimbo,CL,56.93,-29.9533,-71.3436,Punto de encuentro

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))